.item-menu{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    text-align: center;
    padding: 50px 0;
    cursor: pointer;
    background: #fff;
    bottom: 0;
    width: 100%;
}

.item-menu:hover{
    color:rgb(184, 0, 159)
}